body
{
	background-color: #EBDFF2;
}

#wrapper
{
	background-color: #9451bb;
	text-align: center;
	color: white;
	margin-left: 15%;
	margin-right: 15%;
	padding: 30px;
}

#galleryContainer
{
	background-color: #B180CD;
	padding: 30px;
}

#imgGallery
{
	width: 500px;
	height: 500px;
}

#star
{
	width: 60px;
	height: 60px;
}

#star:hover
{
	cursor: pointer;
}